<mat-sidenav-container class="all-wrap" fullscreen>
  <mat-sidenav #sidenav id="main-navigation">
    <mat-nav-list>
        <mat-list-item *ngFor="let menuItem of mainMenu">
          <a a matLine [routerLink]="[menuItem.route]" (click)="menuClick(menuItem.title, sidenav)">
              <mat-icon matListIcon>{{ menuItem.icon }}</mat-icon>
              {{ menuItem.title }}
          </a>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
 
  <div class="page-wrap">
    <header role="banner">
      <mat-toolbar color="primary">
        <button type="button" mat-icon-button (click)="sidenav.open()" title="Open sidenav">
          <mat-icon>menu</mat-icon>
        </button>
        {{ pageTitle }}
      </mat-toolbar>
    </header>
    <main id="main-content" class="content mat-typography">
      <router-outlet>
        <!-- Routed views go here -->
      </router-outlet>
    </main>
    <footer id="main-footer" class="mat-typography">
      © Florian Schaller - Play with <a href="https://fr.wordpress.com/" target="_blank">Wordpress</a> & <a href="https://angular.io/" target="_blank">Angular</a>
    </footer>
  </div>
</mat-sidenav-container>